<article class="card">
    <div class="card-img">
      <div class="card-imgs pv delete"></div>
    </div>
  
    <div class="project-info">
      <div class="flex">
        <div class="project-title">Title card</div>
        <span class="tag">type</span>
      </div>
      <span class="lighter"
        >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
        voluptas ullam aut incidunt minima.</span
      >
    </div>
  </article>