
    <!-- Navbar -->
    <header>
      <nav class="navbar">
        <div class="container">
          <a href="/" class="logo">ChroniQ</a>
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/add-blog">Add Blog</a></li> <!-- New Add Blog Link -->
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login" class="btn-login">Login</a></li>
          </ul>
        </div>
      </nav>
    </header>

  