<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <%- include('./partials/addblogCss') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/blogForm') %>

   <%- include('./partials/scripts') %>
  </body>
</html>